html{
    height: 100%;
    margin: 0;
    background: radial-gradient(
        circle at center,
        #ff4fb8 0%,
        #d5aeea 35%,
        #9fc7f5 70%,
        #7ff7ff 100%
    );
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 2rem;
    padding-top: 5rem;
    min-height: 80vh;
}

li a{
    margin-block: 0.5rem;
    display: inline-block;
    text-decoration: none;
    background-color: #7caee7;
    padding-inline: 1rem;
    padding-block: 0.7rem;
    border-radius: 5px;
    border: solid 1px #c2d8f0;
    transition: all 0.3s ease-in-out;
}

li a:hover{
    background-color: rgb(147, 121, 204);
    transform: scale(1.1) rotateZ(2deg)

}

ul{
    list-style: none;
}
.título h1{
    color: rgb(240, 250, 255);
    font-family: "Righteous", sans-serif;
    font-size: 4rem;
}

.nav a{
    color: rgb(250, 250, 250);
}
