html{
    background-color: rgb(147, 122, 230);
}

*{
    border: solid 1px white
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5rem;
}

.título h1{
    color: aliceblue;
    font-family: "Micro 5", sans-serif;
    font-size: 8rem;
}

.nav a{
    color: black;
}